---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - otterize.com
  resources:
  - intents
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - otterize.com
  resources:
  - intents/finalizers
  verbs:
  - update
- apiGroups:
  - otterize.com
  resources:
  - intents/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - otterize.com
  resources:
  - pods
  verbs:
  - get
  - patch
  - update
