---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: intents.otterize.com
spec:
  group: otterize.com
  names:
    kind: Intents
    listKind: IntentsList
    plural: intents
    singular: intents
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Intents is the Schema for the intents API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: IntentsSpec defines the desired state of Intents
            properties:
              service:
                properties:
                  calls:
                    items:
                      properties:
                        http_resources:
                          items:
                            properties:
                              method:
                                type: string
                              path:
                                type: string
                            required:
                            - method
                            - path
                            type: object
                          type: array
                        server:
                          type: string
                        topics:
                          items:
                            properties:
                              name:
                                type: string
                              operation:
                                type: string
                            required:
                            - name
                            - operation
                            type: object
                          type: array
                        type:
                          type: string
                      required:
                      - server
                      - type
                      type: object
                    type: array
                  name:
                    type: string
                required:
                - calls
                - name
                type: object
            required:
            - service
            type: object
          status:
            description: IntentsStatus defines the observed state of Intents
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
